@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
}

.list-dash li::before {
  content: "-";
  display: inline-block;
  margin-right: 0.5rem;
}

.overflow-style {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

@keyframes glowline {
  0% {
    background-position: 100% 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  100% {
    background-position: -100% 0;
  }
}

.animate-glowline {
  background-size: 200% auto;
  animation: glowline 3s linear infinite;
}

@keyframes glowline-reverse {
  0% {
    background-position: -100% 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-glowline-reverse {
  background-size: 200% auto;
  animation: glowline-reverse 3s linear infinite;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

/* Scrollbar styles for Webkit (Chromium-based browsers) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
}

/* Firefox scrollbar (using scrollbar-width + scrollbar-color) */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255) transparent;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
}
